*{
    padding: 0;
    margin: 0;
}

html{
    font-family: sans-serif;
    font-size: 14px / 1.5;
    color: #814B05;
}

html, body{
    height: 100%;
}

.wrapper{
    background: #F3CD00;
    height: 100%;
    width: 100%;
}

header h1{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 2.6em;
    padding: 1em;
    z-index: 1;
}

.start-button,
.rules-button{
    background: #814B05;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7em 2em;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.rules-button{
    top: 70%;
}

main{
    position: relative;
    z-index: 1;
    height: 50%;
}

.challenge-title{
    display: none;
    text-align: center;
    margin: 2em;
}

.card{
    display: none;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    background: rgba(255, 255, 255, 0.6);
}

.card-content p{
    font-size: 1.2em;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    color: #755139FF;
    padding: 10px 0;   
    z-index: 1; 
}

footer p{
    font-size: 1.3em;
    font-weight: 600;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.modal-content ol{
    padding-left: 10px;
}

.modal-content ol li:not(:last-child){
    margin-bottom: 7px;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}