*{
    padding: 0;
    margin: 0;
}

html{
    font-family: sans-serif;
    font-size: 14px / 1.5;
    color: #814B05;
}

html, body{
    height: 100%;
}

.wrapper{
    background: #F3CD00;
    height: 100%;
    width: 100%;
}

header h1{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 2.6em;
    padding: 1em;
    z-index: 1;
}

.start-button{
    background: #814B05;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7em 2em;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    position: relative;
    z-index: 1;
    height: 50%;
}

.challenge-title{
    display: none;
    text-align: center;
    margin: 2em;
}

.card{
    display: none;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    background: #fff;
}

.card-content p{
    font-size: 1.2em;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    color: #755139FF;
    padding: 10px 0;   
    z-index: 1; 
}

footer p{
    font-size: 1.3em;
    font-weight: 600;
}